h1{
	font-size:70px;
	background-color: seagreen;
	margin:30px;
	text-align:center;
}

h2{
	font-size:40px;
	color: green;
	margin: 30px;
	text-align:center;
	background-color: lightgoldenrodyellow;
}



img{
	width:200px;
	margin:40px;
	padding:20px ;
	border:5px dotted green;
}

.Hund{
	float: left;
}
.Hund1{
	float: right;
}
.Hund2{
	float: left;
}

