@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
*
*Title: Infoseite über Australeien
*Author: Mersi Kraja
*Date: 18.3.2022

*/

/******************* General Styling**************/

@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
body{
	margin: 0;
}
/*Navigation*/
nav{
	 background: rgb(130,146,177);
background: linear-gradient(310deg, rgba(130,146,177,1) 15%, rgba(182,213,219,1) 97%);
	display: flex;
	justify-content: space-between; /* To make space between logo and links*/
	align-items: center;
	padding: 30px;

}
nav img{
	width: 200px; /* To reduce the size of the logo image*/
	border-radius: 50%;
}
nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none; /* to remove the bullet points of our list*/

}

nav ul li a{
	margin: 15px;
	padding: 20px;
	background-color: beige;
	text-decoration: none;
	color: brown;
	border-radius: 20%;
	background: rgb(177,169,130);
background: linear-gradient(310deg, rgba(177,169,130,1) 14%, rgba(199,200,176,1) 38%, rgba(199,192,145,1) 48%, rgba(201,195,160,1) 58%, rgba(203,188,153,1) 74%, rgba(219,214,182,1) 94%);
font-family: Hurricane;
}
nav ul li a:hover{
	background-color: beige;
	color: aliceblue;
}
/*Header*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-position: center;
	background-size: cover;
}
header h1{
	font-size: 25px;
	background-color: rgba(145, 177, 186);
	font-family: Pacifico;
}
/*Section*/
section {
	padding:60px;
	background-color:steelblue;
	color: black;


}
section h2 {
	font-size: 25px;
	color: darkblue;
	background-color: white;
}
#cities{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
section .left{
	width: 60%;
	padding: 30px;
	background-color: white;

}
section .right{
	width: 40%;
background-color: lightblue;
border: 5px dotted deepskyblue;
}

/* Footer */
footer{
height:400px;
display: flex;
justify-content: space-evenly;
align-items: center;
background: linear-gradient(310deg, rgba(217,226,185,1) 15%, rgba(219,212,182,1) 97%);
}
 footer p{
 	background-color: rgba(255,255,255,0.7);
 	padding: 10px;

 }

 /**********Page Styling***********/

 /*Home*/
 #home header{
 	background-image: url("header-background.jpg");
 	color: darkslateblue;
 }
#home main{
	background-color: beige;
	padding: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
#home main img{
	width: 200px;
	border: 4px double darkblue;
}
 /*Contact*/
 #contact header{
 	background-image: url(header.jpg);
 }
