
.color1{
	background-color: rgb(23,233,44);
}
color2{
	background-color: #427075;
}
color3{
	background-color: rgb(191,176,194);
}
color4{
	background-color: #755342;
}
color5{
	background-color: rgb(163,144,160);
}
color6{
	background-color: #6e7542;
}
color7{
	background-color: #6e7542;
}
color8{
	background-color: rgb(135,153,140);
}
color9{
	background-color: #437542;
}
color10{
	background-color: rgb(61,69,64);
}
color11{
	background-color: rgb(23,233,44);
}
color12{
	background-color: rgb(23,233,44);
}
color13{
	background-color: rgb(23,233,44);
}
color14{
	background-color: rgb(23,233,44);

}
color15{
	background-color: rgb(23,233,44);
}
color16{
	background-color: rgb(23,233,44);
}
color17{
	background-color: rgb(23,233,44);
}
color18{
	background-color: rgb(23,233,44);
}
color19{
	background-color: rgb(23,233,44);
}
color20{
	background-color: rgb(23,233,44);
}
