<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<nav>
		<img src="logo.png" alt="Logo">
		<ul>
			<li><a href="#">Projects</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>

	</nav>
	<section class="bild">  
		<p>
			<div style="background-image: url(bild1.jpg);">
			<p>summer house</p></div>
			<div style="background-image: url(bild2.jpg);">
			<p>brick house</p></div>
			<div style="background-image: url(bild3.jpg);"> 
			<p>summer house</p></div>
			<div style="background-image: url(bild4.jpg);">
			<p>summer house</p></div>
			<div style="background-image: url(bild5.jpg);">
			<p>summer house</p></div>
			<div style="background-image: url(bild6.jpg);">
			<p>summer house</p></div>
			<div style="background-image: url(bild7.jpg);">
			<p>summer house</p></div>
			<div style="background-image: url(bild8.jpg);">
			<p>summer house</p></div>
		</p>

	
	</section>
	<main>
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec arcu nec erat scelerisque molestie. Proin ac eros odio. Fusce ac ullamcorper mauris, sit amet scelerisque nisi. Maecenas et fringilla magna. Praesent porta, turpis sed sollicitudin porta, ipsum enim commodo nisi, id suscipit est augue non felis. Vivamus vitae condimentum mi. Nullam vel lacus velitLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet vehicula odio nec facilisis. Proin vitae viverra turpis, in facilisis nunc. Donec sit amet sapien orci. Ut vulputate in diam et luctus. Pellentesque non ullamcorper mauris, eu facilisis felis. Donec ut libero et leo ultrices tempus. Aliquam erat volutpat. Proin sapien quam, sagittis eu pretium non, suscipit quis tortor. Integer vitae tincidunt nulla, eu lobortis arcu. Nunc auctor, erat sit amet sodales semper, dolor lectus vulputate magna, in accumsan elit enim non nibh.</p>
	</main>
<article>
	<div class="about"></div>
</article>

<img src="foto1.jpg">
<img src="foto2.jpg">
<img src="foto3.jpg">
<img src="foto4.jpg">
</body>
</html>